

$text-color: #5b5b5b;
$index: calc(1vw + 1vh);
$padding: 5%;
$padding_details: 15%;
$transition: transform 1s cubic-bezier(.075, .5, 0, 1);
$transition_img2: transform 0.1s cubic-bezier(.075, .5, 0, 1);
